@import "materialize";
html,body,.page {
  height:100%;
}


// Login Form
.valign-wrapper {
  height: 100%;
}

.row.login-form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}



// App
span.badge.new::after {
  content: "";
}
.chat-input {
  bottom: 0;
  left:0;
  position: fixed;
  width: 100%;
  .chat-container {
    display: flex;
    flex-direction: row;
    position: relative;

    div {
      line-height: 1;
      background-color: #e8e8e8;
      padding: 0.5833em 0.833em;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold;
      border-radius: 0.28571rem;
      font-size: 1.2em;
    }

    input {
      width: 0px !important;
      flex: 1 0 auto;
      padding: 0.67861em 1em;
      background: #ffffff;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 0.28571rem;
    }

    button {
      border: none;
      padding: 0 1em;
      line-height: 1em;
      font-size: 1.2em;
    }
  }

  .users-typing {
    background-color: #fff;
    padding:0.5em;
  }
}

.chat-collection {
  padding-bottom: 4em;
  li {
    margin-top: 1.5em;
    > div {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
  }
  .chat-item {
    margin-left: 0.75em;
    margin-right: 0.75em;
    background-color: #f1f1f1;
    border-radius: 10%;
    max-width: 220px;
    padding: 0.2em 0.5em;
    &.self {
      margin-left: auto;
    }
    .title {
      font-weight: bold;
    }
  }
  .toast {
    line-height: 2em;
    height: 2em;
    padding: 0 1em;
    .title,.right {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
