<div class="chat container">
   <div class="ui vertical inverted menu top">
     <a ng-class="{'active':app.current==value}" class="teal item"  ng-repeat="(key, value) in app.users">
       {{value}}
       <div ng-class="{'teal':app.current==value}" class="ui label">{{app.getMessages(value)}}</div>
     </a>
     <button class="ui fluid negative button" ng-click="app.logout()">Logout</button>
   </div>
   <div class="pusher">
      <div class="messages" id="message-container">
         <div class="message" ng-repeat="message in app.messages">
            <div ng-if="message.type=='chat'" class="ui comments">
               <div class="comment">
                 <div class="content">
                     <a class="author">{{message.username}}</a>
                     <div class="metadata">
                        <div class="date" ng-bind="getCurrentTime(message.time)"></div>
                     </div>
                     <div class="text">
                        {{message.message}}
                     </div>
                  </div>
              </div>
            </div>
            <div ng-if="message.type=='alert' && message.connect==0"  class="ui inverse feed">
               <div class="event">
                  <div class="content">
                     <div class="summary">
                        <a class="ui red image label user">
                           {{message.username}}
                        </a> left the room
                        <div class="date" ng-bind="getCurrentTime(message.time)"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div ng-if="message.type=='alert' && message.connect==1"  class="ui inverse feed">
               <div class="event">
                  <div class="content">
                     <div class="summary">
                        <a class="ui green image label user">
                           {{message.username}}
                        </a> joined the room
                        <div class="date" ng-bind="getCurrentTime(message.time)"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="typing">
         <a ng-repeat="(key, value) in app.typing" class="ui teal image label">{{key}}</a>
      </div>
      <form class="ui labeled fluid large action input" ng-submit="app.send()">
         <div class="ui label">
            {{app.current}}: 
         </div>
        <input type="text" placeholder="Enter your message..." ng-keydown="app.resetTimer()" ng-keyup="app.type()" ng-model="app.message" tabindex="1">
        <div class="ui button">Send!</div>
      </form>
   </div>
</div>