<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SocKnet - Chat</title>
    <link rel="stylesheet" href="../static/build/css/app.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">SocKnet</a>
      <form class="form-inline navbar-form pull-right" action="home.html">
        <input class="form-control" type="text" placeholder="Enter a username">
        <button class="btn btn-success-outline" type="submit">Chat</button>
      </form>
    </nav>
    <div class="jumbotron main">
      <div class="container">
        <h1>SocKetnet</h1>
        <p class="lead">Simple Chat Application</p>
      </div>
    </div>
  </body>
</html>
