   <div class="ui top menu">
      <a class="ui left header item hide-md">
         Socknect
      </a>
      <div class="ui right item">
         <form class="ui action icon input" ng-submit="login.submit()">
            <input class="prompt" type="text" placeholder="Enter a username"ng-model="login.user.username">
            <button class="ui button">Login</button>
         </form>
      </div>
   </div>
   <div class="ui jumbotron inverted vertical segment center aligned">
      <div class="ui text container">
         <h1 class="ui inverted header">Socknect</h1>
         <h3>A simple Chat Application</h3>
      </div>
   </div>