   <div id="index-banner" class="parallax-container">
       <div class="section no-pad-bot">
         <div class="container">
           <br><br>
           <h1 class="header center teal-text text-lighten-2">Socknect</h1>
           <div class="row center">
             <h5 class="header col s12 light">A simple Chat Application</h5>
           </div>
           <div class="row center">
             <form class="login-form row" ng-submit="login.submit()">
                <div class="input-field col s12">
                    <input type="text" id="username" ng-model="login.user.username">
                    <label for="username">Enter a Username</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Login
                  <i class="mdi-social-group right"></i>
                </button>
             </form>
           </div>
         </div>
       </div>
     </div>
